<%- include('partials/header') %>
    <link rel='stylesheet' type="text/css" href="/css/all-projects.css">
    <link rel='stylesheet' type="text/css" href="/css/roshni.css">
    <div class="main-heading">Fundraiser</div>
    <div class="container">
        <div class="row">
            <img src="/photos/contribute.png" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <p class="col-md-5" style="padding:19px;">
                <u> Thought:</u> <br>“When education and resources are available to all without a price tag, there will be no limit to the human potential.”
                <br> This quote by Jacque Fresco outlines the aim behind this initiative. The purpose of our initiative is to enhance the educational experience of children across India by providing them with the appropriate resources and education. Lack
                of resources serves as a major obstacle in a student’s journey of gaining knowledge, curtailing his or her enthusiasm.
            </p>
            <img src="/photos/shikshakit2.png" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <br><br>
            <p class="col-md-5" style="padding:19px;"> <u>Execution: </u><br> We came up with the idea of Shiksha<i> (Sanskrit for education)</i> kits which comprise of coursebooks, 5 notebooks, 1 ruler, 5 pens, 5 pencils, erasers and sharperns, geometrical instruments and a jute bag. We set up
                a fundraiser on Milaap for the same. <br><strong>We raised up to Rs. 1,53,524 in total. All of these funds have been used to make shiksha kits.</strong> </p>
        </div>

    </div>
    <%- include('partials/footer') %>