<%- include('partials/header') %>
    <link rel='stylesheet' type="text/css" href="/css/all-projects.css">
    <link rel='stylesheet' type="text/css" href="/css/roshni.css">
    <div class="main-heading">Fundraiser</div>
    <div class="container">
        <div class="row">
            <img src="/photos/contribute.png" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <p class="col-md-5" style="padding:19px;">

                “When education and resources are available to all without a price tag, there will be no limit to the human potential.”
                <br> This quote by Jacque Fresco outlines the aim behind this initiative. The purpose of our initiative is to enhance the educational experience of children across India by providing them with the appropriate resources and education. Lack
                of resources serves as a major obstacle in a student’s journey of gaining knowledge, curtailing his or her enthusiasm

                <br><br><strong>We raised up to Rs. 1,53,524 in total. All of these funds have been used to make shiksha kits.</strong>

            </p>
        </div>

    </div>