<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/card.css">
    <section class="container d-flex flex-column hero-full-height align-items-center justify-content-center">
        <div class="main-heading">The sole meaning of life is to serve
            <span class="humanity">humanity</span>
        </div>
        <img class="leaf" style="height: 220px;" src="/svg/leaf-front.svg" alt="">
        <button class="click-to-volunteer" href="">DONATE FOR A CAUSE!</button>
    </section>
    <section>
        <div class="container d-flex flex-column hero-full-height">
            <div class="heading-bhavishy">BHAVISHYA</div>
            <div class="initiative">OUR INITIVATIVE</div>
            <p class="align-items-center " style=" padding:15px">
                Hello! We’re a bunch of inspired high school students based in Kanpur; We are <strong> Bhavishya.</strong>
                <span>We believe that small steps of change can make a big impact, and a change for the better is mandatory for self-development and brighter future. Upholding the same principle, we try to fullfil our duties as citizens
                of the World.</span>
            </p>
            <img src="/photos/together.jpeg" alt="" class="container d-flex flex-column" style="width: 684px;
        height: 359px;
        left: 382px;
        top: 480px;
        padding:30px">
        </div>

    </section>

    <div class="main-heading" style="color:white;">ABOUT THE TEAM</div>
    <section class="container hero-full-height ">
        <div class="row d-flex justify-content-between">
            <div class="col-md-6 d-flex justify-content-center py-5">
                <div class="card neu-dark d-flex flex-column align-items-center justify-content-center justify-content-evenly">
                    <img src="/photos/kavya.jpg" class="circle" />
                    <div class="card-body">
                        <p class="card-text">A Grade 11 student interest in economics.</p>
                        <h5 class="card-title">Kavya Gupta</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center py-5">
                <div class="card neu-dark d-flex flex-column align-items-center justify-content-center justify-content-evenly">
                    <img src="/photos/kavya.jpg" class="circle" />
                    <div class="card-body">
                        <p class="card-text">A Grade 10 student with a passion for music and science.</p>
                        <h5 class="card-title">Anandita Vishnoi</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center py-5">
                <div class="card neu-dark d-flex flex-column align-items-center justify-content-center justify-content-evenly">
                    <img src="/photos/varyam.jpg" class="circle" />
                    <div class="card-body">
                        <p class="card-text">A Grade 11 student with keen interest in science and economics.</p>
                        <h5 class="card-title">Varyam Gupta</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center py-5">
                <div class="card neu-dark d-flex flex-column align-items-center justify-content-center justify-content-evenly">
                    <img src="/photos/kavya.jpg" class="circle" />
                    <div class="card-body">
                        <p class="card-text">A Grade 10 student with a passion for music and science.</p>
                        <h5 class="card-title">Pranav </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>