<%- include('partials/header') %>
    <link rel="stylesheet" href="home.css">
    <section>
        <div class="main-heading">The sole meaning of life is to serve
            <div class="humanity">humanity</div>
        </div>
        <img class="logo" src="leaf-front.svg" alt="">
        <button class="click-to-volunteer" href="">CLICK TO VOLUNTEER</button>
        <div class="arrow"></div>
    </section>
    <section>
        <div class="container">
            <div class="heading-bhavishy">BHAVISHY</div>
            <div class="initiative">OUR INITIVATIVE</div>
            <p>
                Hello, We’re a bunch of inspired high school students based in Kanpur; We are Bhavishya. We believe that small steps of change can make a big impact. Upholding the same principle, we try to fullfil our duties as citizens of the World.
            </p>
            <img src="together.jpeg" alt="" style="width: 684px;
        height: 359px;
        left: 382px;
        top: 480px;">
        </div>

    </section>
    <%- include('partials/footer') %>