<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/card.css">
    <section class="container d-flex flex-column hero-full-height align-items-center justify-content-center">
        <div class="saying">As proponents of change to the world, we believe that service to humanity is
            <span class="humanity">paramount.</span>
        </div>
        <img class="leaf" src="/svg/leaf-front.svg" alt="">
        <a href="https://milaap.org/fundraisers/support-shikshakit">
            <button class="click-to-volunteer">DONATE FOR A CAUSE!</button></a>

    </section>
    <section>
        <div class="container d-flex flex-column align-items-center hero-full-height">
            <div class="heading-bhavishy"><dfn title="The word Bhavishya is of Sanskrit origin and means future.">BHAVISHYA</dfn></div>
            <div class="initiative">OUR INITIVATIVE</div>
            <p style=" padding:15px">
                Hello! We’re a bunch of inspired high school students based in <dfn title="A town in state of Uttar Pradesh in India">Kanpur</dfn>; We are <strong> Bhavishya.</strong>
                <span>We believe that small steps of change can make a big impact, and a change for the better is mandatory for self-development and brighter future. Upholding the same principle, we try to fullfil our duties as citizens
                of the World.</span>
            </p>
            <img src="/photos/together.jpeg" alt="" class="img-us">
        </div>

    </section>

    <br>
    <section class=" pt-5 container hero-full-height ">
        <div class="heading-bhavishy" style="color:white;">ABOUT THE TEAM</div>
        <div class="row d-flex justify-content-between">
            <div class="col-md-6 d-flex justify-content-center py-5">
                <div class="card neu-dark d-flex flex-column align-items-center justify-content-center justify-content-evenly">
                    <img src="/photos/kavya.jpg" class="circle" />
                    <div class="card-body">
                        <p class="card-text">A Grade 11 student with an interest in economics.</p>
                        <h5 class="card-title">Kavya Gupta</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center py-5">
                <div class="card neu-dark d-flex flex-column align-items-center justify-content-center justify-content-evenly">
                    <img src="/photos/anna.jpg" class="circle" />
                    <div class="card-body">
                        <p class="card-text">A Grade 10 student with a passion for music and science.</p>
                        <h5 class="card-title">Anandita Vishnoi</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center py-5">
                <div class="card neu-dark d-flex flex-column align-items-center justify-content-center justify-content-evenly">
                    <img src="/photos/varyam.jpg" class="circle" />
                    <div class="card-body">
                        <p class="card-text">A Grade 11 student with keen interest in science and economics.</p>
                        <h5 class="card-title">Varyam Gupta</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center py-5">
                <div class="card neu-dark d-flex flex-column align-items-center justify-content-center justify-content-evenly">
                    <img src="/photos/pranav.jpeg" class="circle" />
                    <div class="card-body">
                        <p class="card-text">A Grade 11 student interest in humanities. Voracious reader and chess player. </p>
                        <h5 class="card-title">Pranav Lohia </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center py-5">
                <div class="card neu-dark d-flex flex-column align-items-center justify-content-center justify-content-evenly">
                    <img src="/photos/divija.jpg" class="circle" />
                    <div class="card-body">
                        <p class="card-text">A grade 11 student with an interest in research and biology </p>
                        <h5 class="card-title">Divija Modi</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>