<%- include('partials/header') %>
    <link rel='stylesheet' type="text/css" href="/css/all-projects.css">
    <link rel='stylesheet' type="text/css" href="/css/roshni.css">
    <div class="main-heading">Mask Workshop</div>
    <div class="container">
        <div class="row">
            <img src="/photos/maskin.jpeg" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <img src="/photos/moremask.jpeg" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <p class="col-md-6" style="padding:19px;">
                <u>Thought:</u> <br> In the month of August, 2021, the team went to community schools in Naubasta to distribute Shiksha kits. While interacting with the students, we realized that they weren't aware of the COVID-19 prevention methods.
                <br> To spread awareness, the Bhavishya team went to Anand Ganga Ashram, Kanpur, Uttar Pradesh and held a mask-making workshop.
            </p>
            <p class="col-md-6" style="padding:19px;">
                <u>Execution:</u> <br> We provided kids cotton handkerchiefs, cut out of washed and ironed bedsheets, and taught them how to make masks.To make this fun and interactive, we asked the lot to color the different cloth pieces. We were astonished
                to see the enthusiasm the students showed, all the while applauded their creativity. <br> <br>Later, we also explained to them the importance of COVID-19 prevention and other precautionary steps.
            </p>
        </div>

    </div>
    <%- include('partials/footer') %>