<%- include('partials/header') %>
    <link rel='stylesheet' type="text/css" href="/css/all-projects.css">
    <link rel='stylesheet' type="text/css" href="/css/roshni.css">
    <div class="main-heading">Mission Roshni</div>
    <div class="container">
        <div class="row">
            <img src="/photos/them.jpg" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <p class="col-md-5" style="padding:19px;">
                <u>Thought: </u> <br> We understand that the pain of the impoverished people would magnifiy at holidays, and they would feel even more seculded during these times. So, with the purpose of adding a little more happiness to auspicious ocassion
                of Diwali, Bhavishya team decided to collect various items from its volunteers and distribute it among the less fortunate living near Cantonment, Kanpur.
                <br> <br>
            </p>
            <img src="/photos/roshni.png" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <p class="col-md-5" style="padding:19px;">
                <u>Execution:</u>
                <br> Team Bhavishya had a collection drive in Kanpur, where we collected blankets, clothes, food and stationary items from the volunteers. Then, we visited a slum in the Cantonment area of Kanpur, where we distributed the collected items
                to the underprivileged. We were able to reach more than a hundred people, and made each one smile. We believe that no act of kindness goes in vain, as it always ripples and creates a sense of togetherness in the society.

            </p>
        </div>

    </div>
    <%- include('partials/footer') %>