<%- include('partials/header') %>
    <link rel='stylesheet' type="text/css" href="/css/all-projects.css">
    <div class="main-heading">Mission Roshni</div>
    <div class="container">
        <div class="row">
            <img src="/photos/them.jpg" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <p class="col-md-5" style="padding:19px;">
                With the purpose of adding a little more happiness to auspicious ocassion of Diwali, Bhavishya team decided to collect food, clothes, blankets and stationary items from its volunteers and distribute it in slums near Cantonment, Kanpur.
                <br>
                <br>We reached about a 100 people and made each one smile.
                <br>Perhaps, a small act of kindness is all it takes to bring joy and possibly change lives.
                <br> We, at Bhavishya, believe that no act of kindness goes in vain.
                <br><strong>It always ripples.</strong>
            </p>
        </div>

    </div>