<%- include('partials/header') %>
    <link rel='stylesheet' type="text/css" href="/css/all-projects.css">
    <div class="main-heading">Plantation Drive</div>
    <div class="container">
        <div class="row">
            <img src="/photos/us.jpeg" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <p class="col-md-5">
                Bhavishya partnered with Kanpur Parivartan Forum and hosted a Greenathon. With the help of more than 300 volunteers in total, we were able to successfully plant over 500 trees on the Barrage-Mandhana Road.
                <br>
                <br>Since the first Greenathon turned out to a hit, we planned to launch a second Greenathon.
                <br>At the end of both of the Greenathons we were able to plant
                <strong>more than 1,000 trees</strong>.
                <br>
                <br> We extend our deepest regards to Kanpur Parivartan Forum for helping and guiding us.

            </p>
        </div>

    </div>