<%- include('partials/header') %>
    <link rel='stylesheet' type="text/css" href="/css/plantation-drive.css">
    <div class="main-heading">Plantation Drive</div>
    <div class="container">
        <div class="row">
            <img src="/photos/us.jpeg" alt="" style="padding:20px;" class="col-md-6">
            <p class="col-md-5">
                Bhavishya partnered with Kanpur Parivartan Forum and hosted a Greenathon. With more than 100 volunteer we successfully planted more that 500+ trees on the Barrage-Mandhana Road.
                <br> Before the Greenathon was conducted we had several meeting with the Forum telling them about our future plans.
                <br> We extend our deepest regards to Kanpur Parivartan Forum for inviting us to their second Greenathon.

            </p>
        </div>

    </div>