<%- include('partials/header') %>
    <link rel='stylesheet' type="text/css" href="/css/all-projects.css">
    <div class="main-heading">Plantation Drive</div>
    <div class="container">
        <div class="row">
            <img src="/photos/us.jpeg" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">

            <p class="col-md-5">
                <u>Thought: </u><br> In 2019, Kanpur was pronounced as the most polluted city. The air quality, too, was very poor. Garbage filled the streets, whereas, jungles of concrete were sprawling in the name of development; the green cover was
                rapidly depleting. Underground water was progressing to RED zone. <br>To overcome such problems, Bhavishya partnered with <a href="http://parivartankanpur.org"><i> Kanpur Parivartan Forum</i></a> and hosted a Greenathon. The Plantation
                Drive included maintenance and care of saplings till they may sustain on their own.
                <br><br>
            </p>
            <img src="/photos/road.png" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <p class="col-md-5">
                <u>Execution:</u><br> With the help of more than 500 volunteers in total, we were able to successfully plant over a 600 trees on the <dfn title="The road between Ganges river and Mandhana village"> Barrage-Mandhana Road.</dfn> <br>
                <br>Since the first Greenathon turned out to be a hit, we planned to launch a second Greenathon.
                <br>At the end of both of the Greenathons we were able to plant
                <strong>more than 1,000 trees</strong>.
                <br>
                <br> We extend our deepest regards to Kanpur Parivartan Forum for helping and guiding us.
                <%- include('partials/footer') %>
            </p>

        </div>

    </div>