<%- include('partials/header') %>
    <link rel="stylesheet" href="projects.css">
    <section class="container">
        <div class="projects-heading d-flex flex-column hero-full-height align-items-center justify-content-center">PROJECTS</div>
        <!-- <div class="plantation-drive container d-flex justify-content-center">Plantation Drive</div>
        <div class="row" style="padding:20px">
            <img class='pic1 col-md-6' src="me.svg" alt="" style="height :300px">
            <img class='pic1 col-md-6' src="me.svg" alt="" style="height :300px"> -->

        </div>
        <div class="container">
            <div class="row d-flex justify-content-between align-content-center ">
                <div class="col-md-5 py-5 px-4 d-flex justify-content-center">
                    <img class="feature-img text-center" src="me.svg" />
                </div>
                <div class="col-md-6 d-flex justify-content-center flex-column">
                    <h3 class="feature-title">Plantation Drive</h3>
                    <div>
                        <p class="desc">yoyoyo</p>
                        <a href="/" class="feature-btn">Learn More →</a>
                    </div>
                </div>
            </div>
        </div>


    </section>



    <style>
        .feature-btn {
            color: var(--color-gold) !important;
            font-size: 1.1rem;
            max-width: 200px;
            text-align: left;
        }
        
        .feature-btn:hover {
            text-decoration: underline;
        }
        
        .feature-img {
            width: 275px;
        }
        
        .desc {
            color: var(--color-text);
            font-size: 1.125rem;
            font-weight: 300;
            line-height: 1.75rem;
            opacity: 0.9;
            font-size: 28px;
            margin-top: 20px;
        }
        
        .feature-title {
            font-weight: 600;
            line-height: 1.25;
            font-size: 42px;
            color: var(--color-text-dark);
        }
        
        @media screen and (max-width: 768px) {
            .feature-title {
                font-size: 32px;
            }
            .desc {
                font-size: 20px;
            }
        }
    </style>