<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/projects.css">
    <section class="container">
        <div class="projects-heading d-flex flex-column hero-full-height align-items-center justify-content-center">PROJECTS</div>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-center align-content-center">
                <div class="col-md-5 py-5 px-4 d-flex justify-content-start">
                    <img class="feature-img" src="/svg/me.svg" />
                </div>
                <div class="col-md-5 d-flex justify-content-center flex-column text-left">
                    <h3 class="feature-title">Plantation Drive</h3>
                    <div>
                        <p class="desc">Bhavishya partnered with Kanpur Parivartan Forum and successfully planted...</p>
                        <a href="plantation-drive" class="feature-btn">Read More→</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-center align-content-center">
                <div class="col-md-5 py-5 px-4 d-flex order-md-last">
                    <img class="feature-img" src="/svg/kavya.svg" />
                </div>
                <div class="col-md-5 d-flex justify-content-center flex-column">
                    <h3 class="feature-title">Mission Roshni</h3>
                    <div>
                        <p class="desc">With the hopes of illuminating Diwali, our team collected stationary, ...</p>
                        <a href="mission-roshni" class="feature-btn">Read More→</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-center align-content-center">
                <div class="col-md-5 py-5 px-4 d-flex justify-content-start">
                    <img class="feature-img" src="/photos/ffundraiser.png" />
                </div>
                <div class="col-md-5 d-flex justify-content-center flex-column text-left">
                    <h3 class="feature-title"> Fundraiser</h3>
                    <div>
                        <p class="desc">“When education and resources are available to all without a price tag, there will be no... </p>
                        <a href="fundraiser" class="feature-btn">Read More→</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-center align-content-center">
                <div class="col-md-5 py-5 px-4 d-flex order-md-last ">
                    <img class="feature-img" src="/photos/fshiksha.png" />
                </div>
                <div class="col-md-5 d-flex justify-content-center flex-column ">
                    <h3 class="feature-title">Shiksha Kit</h3>
                    <div>
                        <p class="desc">On the 6th of July, 2021 Bhavishy’s core team along with Zomato’s feedingindia team... </p>
                        <a href="shiksha-kit" class="feature-btn">Read More→</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-center align-content-center">
                <div class="col-md-5 py-5 px-4 d-flex justify-content-start ">
                    <img class="feature-img" src="/photos/fmask.jpeg" />
                </div>
                <div class="col-md-5 d-flex justify-content-center flex-column">
                    <h3 class="feature-title">Mask workshop</h3>
                    <div>
                        <p class="desc">In the month of August, 2021, the team went to community schools in Naubasta to distribute Shiksha kits. While...</p>
                        <a href="mask-workshop" class="feature-btn">Read More→</a>

                    </div>
                </div>
            </div>
        </div>

    </section>