<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/projects.css">
    <section class="container">
        <div class="projects-heading d-flex flex-column hero-full-height align-items-center justify-content-center">PROJECTS</div>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-center align-content-center">
                <div class="col-md-5 py-5 px-4 d-flex justify-content-start">
                    <img class="feature-img" src="/svg/me.svg" />
                </div>
                <div class="col-md-5 d-flex justify-content-center flex-column text-left">
                    <h3 class="feature-title">Plantation Drive</h3>
                    <div>
                        <p class="desc">Bhavishya partnered with Kanpur Parivartan Forum and successfully planted...</p>
                        <a href="plantation-drive" class="feature-btn">Read More→</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <hr> -->

        <div class="container">
            <div class="row d-flex justify-content-center align-content-center">
                <div class="col-md-5 py-5 px-4 d-flex order-md-last">
                    <img class="feature-img" src="/svg/kavya.svg" />
                </div>
                <div class="col-md-5 d-flex justify-content-center flex-column">
                    <h3 class="feature-title">Mission Roshni</h3>
                    <div>
                        <p class="desc">With the hopes of illuminating Diwali, our team collected stationary, ...</p>
                        <a href="mission-roshni" class="feature-btn">Read More→</a>

                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container">
            <div class="row d-flex justify-content-between align-content-center ">
                <div class="col-md-6 py-5 px-4 d-flex justify-content-center">
                    <img class="feature-img text-center" src="kavya.svg" />
                </div>
                <div class="col-md-5 d-flex justify-content-center flex-column text-center">
                    <h3 class="feature-title">Plantation Drive</h3>
                    <div>
                        <p class="desc text-left">With the hopes of illuminating Diwali, our team collected stationary, ...</p>
                        <a href="./mission-roshni.ejs" class="feature-btn">Read More→</a>
                    </div>
                </div>
            </div>
        </div> -->

    </section>