<%- include('partials/header') %>
    <link rel='stylesheet' type="text/css" href="/css/all-projects.css">
    <div class="main-heading">Shiksha Weekends</div>
    <div class="container">
        <div class="row">
            <img src="/photos/t3.jpg" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <p class="col-md-5">
                <u>Thought: </u> <br> Education is not the learning of facts but training of the mind to think!<br> Being science enthusiats ourselves, we realise that real science isn't just for classrooms but is a part of everyday life. <br><br> To
                make students 'feel' science, we organised "Shiksha weekends" for the students of Pandit Awadh Bihar Devideen Shiksha Niketan, Kanpur Dehat from the first weekend of April, 2022. The main aim of this endeavour was to make science (particularly,
                physics) fun and simple!
            </p>
        </div>

        <hr>

        <div class="container">
            <div class="row">
                <img src="/photos/t2.jpg" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
                <img src="/photos/t4.jpg" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">

                <p class=" col-md-6 ">
                    <u>Execution:</u> <br>
                    <br>In this 2 month program, we interacted with students of classes 8 and 9. Initially, we made sure that the students were comfortable with the topic and had introductory sessoins. Next, we started off with the “this and that” of
                    the subject. “What is it?”, “How does it help us?”, “How can we relate it to our everyday activities?”. Then we moved on to explaining the basics, our first classes’ prime focus was on “Force and Pressure”, a chapter in Physics. The
                    fun part however, were the experiments!
                </p>

                <p class=" col-md-6 ">
                    <br>Performing experiments like “stab the potato”, “friendly balloons”, and more made the students curious about the whys, and got them thinking. These sessions were extremely interactive and were an immersive experience for the children
                    as at the end of every class, they got to volunteer to perform these experiments themselves and also talk about what they enjoyed the most about that day’s lesson.
                </p>
            </div>

        </div>
        <%- include('partials/footer') %>