<%- include('partials/header') %>
    <link rel='stylesheet' type="text/css" href="/css/all-projects.css">
    <div class="main-heading">Shiksha Kit</div>
    <div class="container">
        <div class="row">
            <img src="/photos/shiksha-kit.png" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6">
            <p class="col-md-5">
                <u>First Drive: </u> <br><br>On the 6th of July, 2021 Bhavishy’s core team along with Zomato’s feedingindia team conducted a drive to carry out Bhavishy Foundation’s initiative- Shiksha kit.
                <br> <br> <strong>Our aim was to provide literacy kits to academically disadvantaged children.</strong>
                <br> <br>We covered the Maurang Mandi slum in Kanpur, where we distributed 200+ shiksha kits to students in community schools that lacked certain resources. Seeing their grateful faces, we were absolutely delighted and promised ourselves
                to complete our goals!

            </p>
        </div>

        <hr>

        <div class="container">
            <div class="row">
                <img src="/photos/shiksha2.png" alt="" style="padding:20px; height:420px;padding:39px;" class="col-md-6 order-md-last">
                <p class="col-md-5">
                    <u>Second Drive: </u> <br>
                    <br>150+ Shiksha Kits were distributed at an Informal School run by <strong>'Shiksha Sopan', an NGO situated in Kanpur started by Prof. HC Verma. </strong>Shiksha Sopan is run by IIT Kanpur Faculty, Students, Members, Employees and
                    local Young Enthusiastic people for the upliftment of underdeveloped sections of the society through meaningful education.
                    <br><br>These kits were distributed after the students resumed their schooling, with proper safety measures. The kits will be helping the students in having a smooth transition entering physical schooling after a long hault.

                </p>
            </div>

        </div>
        <%- include('partials/footer') %>