body {
    background: #114B5F;
}

.hero-full-height {
    height: 90vh;
}

.saying {
    font-family: 'Montserrat', 'san-serif';
    font-style: normal;
    font-weight: 300;
    font-size: 65px;
    line-height: 100px;
    text-align: center;
    color: #6FCF97;
}

.humanity {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 117px;
    text-align: center;
    color: #EEEEEE;
}

.main-heading {
    font-family: 'Montserrat', 'san-serif';
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 117px;
    text-align: center;
    color: #6FCF97;
}

.click-to-volunteer {
    height: 38px;
    background: rgba(136, 212, 152, 0.9);
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #114B5F;
}

.heading-bhavishy {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    color: #EEEEEE;
}

.contact-us {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 88px;
    text-align: center;
    color: #6FCF97;
}

.initiative {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    /* Green 3 */
    color: #6FCF97;
}

p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #EEEEEE;
}

.img-us {
    width: 684px;
    height: 359px;
}

.leaf {
    width: 500px;
}

@media screen and (max-width: 768px) {
    .heading-bhavishy,
    .main-heading,
    .humanity,
    .initiative {
        font-size: 45px;
        line-height: 50px;
    }
    p {
        font-size: 19px;
    }
    .main-heading {
        font-size: 40px;
    }
    .img-us {
        width: 400px;
        height: auto;
    }
    .leaf {
        width: 400px;
    }
}

@media screen and (max-width: 576px) {
    .heading-bhavishy,
    .main-heading,
    .humanity,
    .initiative {
        font-size: 40px;
        line-height: 45px;
    }
    p {
        font-size: 14px;
    }
    .img-us {
        width: 250px;
        height: auto;
    }
    .click-to-volunteer {
        font-size: 13px;
        ;
    }
    .leaf {
        width: 250px;
    }
}