 .projects-heading {
     font-family: 'Montserrat', 'sans serif';
     font-style: normal;
     font-weight: 300;
     font-size: 80px;
     line-height: 88px;
     display: flex;
     align-items: flex-end;
     text-align: center;
     color: #6FCF97;
 }
 
 .feature-btn {
     color: white;
     font-size: 17px;
     max-width: 200px;
     text-align: left;
 }
 
 .feature-btn:hover {
     text-decoration: underline;
 }
 
 A:hover {
     color: #6FCF97;
 }
 
 .feature-img {
     width: 295px;
     height: 200px;
 }
 
 .desc {
     font-size: 1.125rem;
     font-weight: 300;
     line-height: 1.75rem;
     opacity: 0.9;
     font-size: 25px;
     margin-top: 20px;
     color: #6FCF97;
     font-family: 'Work Sans', 'sans serif';
 }
 
 .feature-title {
     font-weight: 600;
     line-height: 1.25;
     font-size: 42px;
     color: white;
     font-family: 'Montserrat', 'sans serif';
 }
 
 body {
     background-color: #114B5F;
 }
 
 @media screen and (max-width: 768px) {
     .feature-title {
         font-size: 30px;
     }
     .desc {
         font-size: 19px;
     }
     .projects-heading {
         font-size: 50px;
     }
 }