.main-heading {
    font-family: 'Montserrat', 'san-serif';
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 117px;
    text-align: center;
    color: #6FCF97;
}

@media screen and (max-width: 768px) {
    .main-heading {
        font-size: 50px;
    }
    p {
        font-size: 19px;
    }
}